<div>
  <h1 *ngIf="!keyword">Product Listing</h1>
  <h1 *ngIf="keyword">Search Results for "{{keyword}}"</h1>
  <span *ngIf="!result">
    <md-progress-bar *ngIf="!error" class="app-progress" mode="indeterminate" aria-label="Loading Please wait"></md-progress-bar>
    <md-card *ngIf="error">
      <md-card-content>
        <p>Error Returned: {{error}}</p>
      </md-card-content>
    </md-card>
  </span>
  <md-card *ngIf="result">
    <md-card-content>
      <md-grid-list cols="2" >
        <div>
          I am glad that we found {{result.maxCount}} products.
          <div class="paging-container">
            <md-chip-list>
              <md-chip>
                <div class="paging-chip">
                  <span *ngFor="let page of pages;let isLast=last">
                    <span *ngIf="result.page == page">
                      <button class="page-button-selected" md-mini-fab>{{page}}</button>
                    </span>
                    <span *ngIf="result.page != page">
                      <button class="page-button" md-mini-fab (click)="showPage(page)">{{page}}</button>
                    </span>
                  </span>
                </div>
              </md-chip>
            </md-chip-list>
          </div>
        </div>
        <!--<md-grid-tile *ngFor="let product of result.products">-->
          <!-- Here are the products -->
          <md-card *ngFor="let product of result.products">
            <md-card-header>
              <md-card-title>{{product.name}}</md-card-title>
              <md-card-subtitle>{{product.category}}</md-card-subtitle>
            </md-card-header>
            <img
             [style.width.px]="imageWidth"
             [style.margin.px]="imageMargin"
             md-card-image src="{{product.imageURL}}"
            [title]="product.name"
            >
            <md-card-content>
              <p>
                {{product.description}}
              </p>
              <p>
                {{product.pricingInfo.currency}} {{product.pricingInfo.basePrice}}
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-raised-button md-button color="primary" md-tooltip="Adds item to the cart!" (click)="addToCart(product, 1)"><md-icon>add_shopping_cart</md-icon> Add to Cart</button>
            </md-card-actions>
          </md-card>
        <!--</md-grid-tile>-->
      </md-grid-list>
    </md-card-content>
  </md-card>
</div>
