.page-button-selected {
	background-color: #3f51b5;
	    color: #e6e8f5;
		}
.page-button {
	background-color: #e6e8f5;
	    color: #3f51b5;
		}
.paging-chip {
	margin:0 auto;
}

.paging-container {
	width:100%;
}

.md-dialog-container {
	display: grid;
    padding: 0px;
}