<h1>Shopping Cart</h1>
<p>
<md-spinner *ngIf="!cart" class="app-spinner"></md-spinner>
<span *ngIf="isEmptyCart()">
        Your cart is Empty. Please proceed to 
         <a md-raised-button color="primary" routerLink="/products" routerLinkActive="active" (click)="gotoProducts()">Products</a>
      </span>
  <span *ngIf="!isEmptyCart()">
  <md-card *ngIf="cart">
     <md-card-header>
       <md-card-title>
         <h2>Here is your shopping Cart</h2>
       </md-card-title>
     </md-card-header>
    <md-card-content>
      
      <table>
        <tr>
            <th>
              #
            </th>
            <th>
              Item Description
            </th>
            <th>
              Quantity
            </th>
            <th>
              Unit Price
            </th>
            <th>
              Tax
            </th>
            <th>
              Total
            </th>
        </tr>
        <tr *ngFor="let lineItem of cart.lineItems;let index=index">
          <td>
            {{index  + 1}}
          </td>
          <td>
            <img [src]="lineItem.imageURL" [style.width.px]="50" [style.margin.px]="2">
            {{lineItem.description}}
          </td>
          <td>
            <button (click)="add(lineItem)" class="app-input-icon">+</button>
            {{ lineItem.quantity |  number:'2.0-0'}}
            <button (click)="remove(lineItem)" class="app-input-icon">-</button>
          </td>
          <td>
            {{ lineItem.unitPrice | currency:lineItem.currency:true:'1.2-2'}}
          </td>
          <td>
            {{ lineItem.tax | currency:lineItem.currency:true:'1.2-2'}}
          </td>
          <td>
            {{ (lineItem.price + lineItem.tax) | currency:lineItem.currency:true:'1.2-2'}}
            <button (click)="delete(lineItem)"><md-icon>delete</md-icon></button>
          </td>
        </tr>
      </table>
    </md-card-content>
  </md-card>
  <md-card *ngIf="cart">
    <md-card-header>
      <md-card-title>
        <h2>Cart Summary</h2>
      </md-card-title>
    </md-card-header>
    <md-card-content>
        <table>
          <tr>
            <th>Net Total</th><td align="right">{{cart.summary.netTotal | currency:cart.summary.currency:true:'1.2-2'}}</td>
          </tr>
          <tr>
            <th>Shipping</th><td align="right">{{cart.summary.shipping | currency:cart.summary.currency:true:'1.2-2'}}</td>
          </tr>
          <tr>
            <th>Tax</th><td align="right">{{cart.summary.tax | currency:cart.summary.currency:true:'1.2-2'}}</td>
          </tr>
          <tr>
            <th>Handling Charges</th><td align="right">{{cart.summary.handlingCharges | currency:cart.summary.currency:true:'1.2-2'}}</td>
          </tr>
          <tr>
            <th>Total</th><th align="right">{{cart.summary.grossTotal | currency:cart.summary.currency:true:'1.2-2'}}</th>
          </tr>
          <tr>
            <th colspan="2"><button (click)="placeOrder()"> Place Order <md-icon>local_shipping</md-icon></button></th>
          </tr>
        </table>
      </md-card-content>
  </md-card>
  </span>
</p>