<md-sidenav-container [class.unicorn-dark-theme]="isDarkTheme">

  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <!-- sidenav content -->
    <h2>Menu</h2>
    <md-list>
      <md-list-item><a (click)="sidenav.toggle()" routerLink="/" routerLinkActive="active">Home</a></md-list-item>
      <md-list-item><a (click)="sidenav.toggle()" routerLink="/lost" routerLinkActive="active">404</a></md-list-item>
      <md-list-item *ngIf="isAnonymous()"><a (click)="sidenav.toggle()" routerLink="/loginpage" routerLinkActive="active">Sign In</a></md-list-item>
      <md-list-item><a (click)="sidenav.toggle()" href="https://github.com/reflexdemon/shop">Git Hub</a></md-list-item>

      <md-list-item *ngIf="!isAnonymous()"><a (click)="sidenav.toggle()" routerLink="/profile" routerLinkActive="active">View Profile</a></md-list-item>
      <md-list-item *ngIf="!isAnonymous()"><a (click)="sidenav.toggle()" routerLink="/products" routerLinkActive="active">Products</a></md-list-item>
      <md-list-item *ngIf="!isAnonymous()"><a (click)="sidenav.toggle()" href="/swagger-ui.html">API Access</a></md-list-item>
      <md-list-item *ngIf="!isAnonymous()"><a (click)="sidenav.toggle()" href="/logout">Sign Out</a></md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button> {{title}}
    <span class="app-toolbar-filler"></span>
    <a md-button color="info" *ngIf="!isAnonymous()" routerLink="/products" routerLinkActive="active">Products</a>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <a md-menu-item *ngIf="isAnonymous()" routerLink="/loginpage" routerLinkActive="active">
        <span>Sign In</span>
      </a>
      <a md-menu-item *ngIf="isAnonymous()" routerLink="/signup" routerLinkActive="active">
        <span>Sign Up</span>
      </a>
      <button md-menu-item disabled *ngIf="!isAnonymous()">
        <span>Welcome, {{user.firstName}} {{user.lastName}}</span>
      </button>
      <a md-menu-item *ngIf="!isAnonymous()" routerLink="/cart" routerLinkActive="active">
        <md-icon>shopping_cart</md-icon>
        <span>Cart</span>
      </a>
      <a md-menu-item *ngIf="!isAnonymous()" href="/logout">
        <span>Sign Out</span>
      </a>
    </md-menu>

    <md-toolbar-row>
      <md-input-container>
        <input mdInput placeholder="Search" class="search-input" #keywordInput (keyup.enter)="searchWith(keywordInput.value)">
      </md-input-container>
      <button md-raised-button color="warn" class="search-button" (click)="searchWith(keywordInput.value)">GO</button>
    </md-toolbar-row>
  </md-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>

<!-- <span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span> -->