<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <!-- sidenav content -->
    <h2>Menu</h2>
    <md-list>
      <md-list-item><a (click)="sidenav.toggle()" routerLink="/" routerLinkActive="active">Home</a></md-list-item>
      <md-list-item><a (click)="sidenav.toggle()" routerLink="/lost" routerLinkActive="active">404</a></md-list-item>
      <md-list-item *ngIf="isAnonymous()"><a (click)="sidenav.toggle()" routerLink="/loginpage" routerLinkActive="active">Sign In</a></md-list-item>
      <md-list-item><a (click)="sidenav.toggle()" href="https://github.com/reflexdemon/shop">Git Hub</a></md-list-item>

      <md-list-item *ngIf="!isAnonymous()"><a (click)="sidenav.toggle()" routerLink="/profile" routerLinkActive="active">View Profile</a></md-list-item>
      <md-list-item *ngIf="!isAnonymous()"><a (click)="sidenav.toggle()" href="/swagger-ui.html">API Access</a></md-list-item>
      <md-list-item *ngIf="!isAnonymous()"><a (click)="sidenav.toggle()" href="/logout">Sign Out</a></md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    {{title}}
    <span class="app-toolbar-filler"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>dialpad</md-icon>
        <span>Redial</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Check voicemail</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>

    <!-- <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button> -->
    <!-- Anonymous  User-->
    <p *ngIf="isAnonymous()">
      <a routerLink="/loginpage" routerLinkActive="active" md-button>Sign In</a>
      <a routerLink="/signup" routerLinkActive="active" md-button>Sign Up</a>
    </p>

    <!-- Logged In User-->
    <p *ngIf="!isAnonymous()">Welcome, {{user.firstName}} <a href="/logout" md-button>Sign Out</a></p>
  </md-toolbar>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>

<!-- <span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span> -->
