<div>
  <form #user="ngForm"  (ngSubmit)="onSubmit(user)" novalidate>
  <md-card>
  <md-card-header>
    <md-card-title>
      <h1><i class="material-icons app-input-icon" style="font-size: 48px;">person_add</i> Sign Up</h1>
    </md-card-title>
    <md-card-subtitle>Please create a profile to gain access to the API</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p class="signup-blank-space">
    </p>


    <table class="signup-full-width" cellspacing="0">
      <tr>
          <td><md-input-container><input mdInput ngModel  name="firstName" class="signup-full-width" placeholder="First name" required></md-input-container></td>
          <td><md-input-container><input mdInput ngModel  name="lastName" class="signup-full-width" placeholder="Last name"  required></md-input-container></td>
      </tr>
      <tr>
          <td>
            <md-input-container><input mdInput ngModel  name="organization" class="signup-full-width"  required>
              <md-placeholder>
                  <i class="material-icons app-input-icon">domain</i> Organization
              </md-placeholder>
            </md-input-container>
          </td>
      </tr>
      <tr>
          <td>
            <md-input-container><input mdInput ngModel  name="email" type="email" class="signup-full-width"  required>
              <md-placeholder>
                  <i class="material-icons app-input-icon">email</i> Email Address
              </md-placeholder>
            </md-input-container>
          </td>
      </tr>
      <tr>
        <td>
          <md-input-container><input mdInput ngModel  name="phone" type="tel" class="signup-full-width">
            <md-placeholder>
                <i class="material-icons app-input-icon">phone</i> Phone
            </md-placeholder>
          </md-input-container>
        </td>
        <td>
          <md-input-container><input mdInput ngModel  name="mobile" type="tel" class="signup-full-width">
            <md-placeholder>
                <i class="material-icons app-input-icon">stay_current_portrait</i> Mobile
            </md-placeholder>
          </md-input-container>
        </td>
      </tr>
      <tr>
          <td>
            <md-input-container><input mdInput ngModel  name="username" class="signup-full-width"  required>
              <md-placeholder>
                  <i class="material-icons app-input-icon">perm_identity</i> User Name
              </md-placeholder>
            </md-input-container>
          </td>
      </tr>
      <tr>
        <td>
          <md-input-container><input mdInput ngModel  name="password" type="password" class="signup-full-width"  required>
            <md-placeholder>
                <i class="material-icons app-input-icon">fingerprint</i> Password
            </md-placeholder>
          </md-input-container>
        </td>
        <td>
          <md-input-container><input mdInput ngModel  name="confirmPassword" type="password" class="signup-full-width"  required>
            <md-placeholder>
                <i class="material-icons app-input-icon">fingerprint</i> Reenter Password
            </md-placeholder>
          </md-input-container>
        </td>
      </tr>
      <tr>
          <td colspan="2">
            <p>
              Please choose the tag that you wish to sign up for.
          </p>
             <md-radio-group ngModel class="signup-radio-group" name="pricingTag"  required>
            <md-radio-button class="signup-radio-button" *ngFor="let tag of tags" [value]="tag">
              {{tag}}
            </md-radio-button>
          </md-radio-group>
          </td>
      </tr>
    </table>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" md-tooltip="Click for freedom!">SUBMIT</button>
    <a routerLink="/" routerLinkActive="active" md-button>Back</a>
  </md-card-actions>
</md-card>
  </form>
</div>
