<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>


  <!--<div th:if="${param.logout}">-->
    <!--You have been logged out.-->
  <!--</div>-->
  <meta th:if="${param.error == null}" http-equiv="refresh" content="0;url=/"/>
</head>

<body>
<div th:if="${param.error}">
  Invalid username and password.
</div>
<p><a href="/">Got to Home Page</a></p>
</body>
</html>
