  <h2>Profile</h2>
  <md-card *ngIf="user">
  <md-card-header>
    <md-card-title>User Profile</md-card-title>
    <md-card-subtitle>{{user.username}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <table>
      <tr>
          <th align="right">Id</th>
          <td>{{user.id}}</td>
      </tr>
      <tr>
          <th align="right">Name</th>
          <td>{{user.firstName}} {{user.lastName}}</td>
      </tr>
      <tr>
          <th align="right">Login ID</th>
          <td>{{user.username}}</td>
      </tr>
      <tr>
          <th align="right">Organization</th>
          <td>{{user.organization}}</td>
      </tr>
      <tr>
          <th align="right">Email</th>
          <td>{{user.email}}</td>
      </tr>
      <tr>
          <th align="right">Phone</th>
          <td>{{user.phone}}</td>
      </tr>
      <tr>
          <th align="right">Mobile</th>
          <td>{{user.mobile}}</td>
      </tr>
      <tr>
          <th align="right">Pricing Tag</th>
          <td>{{user.pricingTag}}</td>
      </tr>
    </table>
  </md-card-content>
  <md-card-actions>
    <a routerLink="/" routerLinkActive="active" md-button>Back</a>
  </md-card-actions>
</md-card>
