<p>
  <md-card>
    <h1>Shop API Demo</h1>
    <p>
      This is an example project to demo the usage of one of te most popular Java framework and my favorite Java Script framework.
      <br>

      If you have not <a routerLink="/signup" routerLinkActive="active">
        <span>signed up</span>
      </a> for the API, please feel free to <a routerLink="/signup" routerLinkActive="active">
        <span>sign up</span>
      </a> to gain access to the live API.
    </p>
    <p>The tech stack for this is as follows,</p>
    <md-tab-group>
      <md-tab label="Frontend">
        <h2>Frontend</h2>
        <p>
      <md-list>
       <md-list-item> Angular 2 </md-list-item>
       <md-list-item> Yarn </md-list-item>
       <md-list-item> Angular Materials </md-list-item>
       <md-list-item> ... </md-list-item>
      </md-list>
    </p>
      </md-tab>
      <md-tab label="Backend">
        <h2>Backend</h2>
        <p>
      <md-list>
       <md-list-item> Java </md-list-item>
       <md-list-item> Spring Framework </md-list-item>
       <md-list-item> Spring Boot </md-list-item>
       <md-list-item> Spring Security </md-list-item>
       <md-list-item> Spring Data / Mango </md-list-item>
       <md-list-item> ... </md-list-item>
      </md-list>
    </p>
      </md-tab>
    </md-tab-group>




    <div class="button-row">
        <button md-raised-button (click)="openCode()" color="primary">Code</button>
    </div>
  </md-card>
</p>
